<div class="statement col<%= rand(4).to_s %>">
"<%= statement.transcript[0..99] %> ..."
<%= button_to("Show More!", {:controller => "details", :action => "index", :id => statement.id},
								 {:style => "position: relative;
								 			font-size: 20px;
								 			background-color: white;
								 			height: 30%;
								 			margin: 3% 40% 3% 40%;"}) %>	
</div>	
